@import '~slick-carousel/slick/slick-theme.css';
@import '~slick-carousel/slick/slick.css';

@font-face {
  font-family: 'Avanti';
  src: url('../../static/fonts/AvantiBold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Futura';
  src: url('../../static/fonts/FuturaPT-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Futura';
  src: url('../../static/fonts/FuturaPT-Book.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Futura';
  src: url('../../static/fonts/FuturaPT-Light.woff') format('woff');
  font-weight: 200;
}

a {
  text-decoration: none !important;
}

